.searchbar {
  background: transparent;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 5px solid $text;
  padding: 5px 5px 5px 2px;
  font-size: 20px;
  outline: none;
  margin-left: 20px;
  caret-color: transparent;
}

.image-loader {
  -webkit-animation: spin 3s linear infinite;
  -moz-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(20deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  25% {
    -moz-transform: rotate(20deg);
  }
  50% {
    -moz-transform: rotate(0deg);
  }
  75% {
    -moz-transform: rotate(-20deg);
  }
  100% {
    -moz-transform: rotate(0deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.searchbar::placeholder {
  color: $text;
}

.searchbar:focus {
  caret-color: $text;
}

.fa-search,
.search-disabled {
  font-size: 22px;
  margin-left: 10px;
}

.fa-search {
  cursor: pointer;
}

.search-disabled {
  color: rgba($color: $text, $alpha: 0.75);
  cursor: initial;
}
