.result {
  margin: 0 auto;
  text-align: center;

  .image-preview {
    display: grid;
    grid-template-columns: 250px auto;
    margin: 0 auto;
    border-radius: 5px;
  }

  .main {
    grid-column-start: 2;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  // .image-wrapper {
  //   height: 600px;
  //   width: 1024px;
  //   background: url("/images/browser-light.png") no-repeat;
  //   background-size: 600px;
  // }
  @import "./components/menuEditor";
  @import "./components/rangeSlider";
  @import "../../shared/header";
}
