.result {
  margin: 0 auto;
  text-align: center;

  .image-preview {
    display: grid;
    grid-template-columns: 250px auto;
    margin: 0 auto;
    border-radius: 5px;
  }

  .main {
    grid-column-start: 2;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  .browser {
    width: auto;
    .browser-header {
      padding: 0px 5px;
      height: 40px;
      line-height: 25px;
      background-color: $browser-light;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;

      .browser-buttons {
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 10px;
      }

      .button {
        height: 13px;
        width: 13px;
        margin: 4px;
        border-radius: 512px;
        display: inline-block;

        &.close {
          background: #fc605c;
        }

        &.minimize {
          background: #fdbb40;
        }

        &.maximize {
          background: #34c649;
        }
      }
    }
    .browser-content {
      min-height: 350px;
      position: relative;
      background-color: transparent;
      img {
        width: 100%;
        height: 100%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }

  @import "./components/menuEditor";
  @import "./components/rangeSlider";
  @import "../../shared/header";
}
