@import "./assets/styles/palette";
@import "./assets/styles/mixins";

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", Arial, sans-serif;
  background-color: $primary;
  color: $text;
}

.App {
  .middle {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @import "./assets/styles/views/Home/home";
  @import "./assets/styles/views/Result/result";
}
